<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
<nav class="navbar">
    <div class="logo">Trash<span>ToCoin</span></div>
    
    <ul class="nav-links" id="nav-menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="tukar-poin.html">Tukar Poin</a></li>
        <li><a href="lokasi.html">Lokasi</a></li>
        <li><a href="produk.html">Produk</a></li>
        <li><a href="tentang-kami.html">Tentang Kami</a></li>
    </ul>

    <div class="hamburger" id="hamburger-btn">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>
</html>